
@font-face {
    font-family: 'BMWFont';
    src: url("./Font/BMWFont.ttf"),format("truetype");
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    font-family: 'BMWFont';
}
.row{
    position: relative;
    opacity: 1;
}
.banner-image{
    background-image: url("./Images/lm-00-teaser-hd1.jpg");
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: center center;
    transition: transform 10s, filter 3s;
    /* filter: brightness(100%); */
    border: 1px solid white;
    
}
.banner-text{
    position: absolute;
    opacity: 1;
}
.navbar-nav{
    border-bottom: 2px solid white;
}
.navbar .nav-link{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.top-head-text h3{
    font-size: 1.5rem;
    color:white;
}
.top-header h2{
    font-size: 3.5rem;
    color:white;
    letter-spacing: 5px;
    word-spacing: 30px;
    line-height: 100%;
}
#banner-btn1{
    width: 200px;
    padding: 10px;
    background: transparent;
    border: 3px solid white;
    color: white;
    font-weight: bold;
}
.row:hover .banner-image{
    transform: scale(1.05);
    opacity: .8;
    overflow: hidden;
}

.image2{
    background-image: url("./Images/lea-00-teaser-square1.webp");
    height: 700px;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: cover;
    position: top;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
    /* filter: brightness(100%); */
}
.images{
    position: relative;
    opacity: 1;
}
.image2-text{
    position: absolute;
    width: 100%;
    top:0%;
    opacity: 1;
}
.image2-text p{
    padding:230px 0px 0px 20px;
    font-size: 1.5rem;
    color: black;
}
span{
    font-size: 3rem;
}
.images:hover .image2{
    /* filter: brightness(30%); */
    transform: scale(1.1);
    opacity: 0.5;
    overflow: hidden;

}
.images1{
    position: relative;
    opacity: 1;
}
.image3{
    background-image: url("./Images/ac-00-teaser-high2.jpg");
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image3-text{
    position: absolute;
    width: 100%;
    top:0%;
    padding: 200px 0px 0px 20px;
    color:black;
    opacity: 1;
}
.images1:hover .image3{
    transform: scale(1.1);
    /* filter: alpha(opacity=100); */
    opacity: .8;
    overflow: hidden;
}
.image3-text p{
    font-size: 3rem;
}
.top-heading p{
    font-size: 5rem
}
.images2{
    position: relative;
    opacity: 1;
}
.image4{
    background-image: url("./Images/n-00-teaser-hd.webp");
    height: 400px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image4-text{
    position: absolute;
    width: 100%;
    top:30%;
    padding: 160px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images2:hover .image4{
    transform: scale(1.1);
    filter: alpha(opacity=100);
    opacity: .8
}
.images3{
    position: relative;
    opacity: 1;
}
.image5{
    background-image: url("./Images/exl-00-teaser-hd9.webp");
    height: 400px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image5-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 180px 0px 0px 20px;
    color:black;
    opacity: 1;
    font-size:large;
}
.images3:hover .image5{
    transform: scale(1.1);
    filter: alpha(opacity=100);
    opacity: .5;
}
.images4{
position: relative;
}
.image6{
    background-image: url("./Images/sky-00-teaser-hd.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image6-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 300px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;  
}
.images4:hover .image6{
    transform: scale(1.1);
    opacity: .8;
}
.images5{
    position: relative;
}
.image7{
    background-image: url("./Images/ac20-01-stage-hd6.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image7-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 130px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large; 
}
.images5:hover .image7{
    transform: scale(1.1);
    opacity: .8;
}
.images6{
    position: relative;
}
.image8{
    background-image: url("./Images/cannes24-01-stage-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image8-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 130px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large; 
}
.images6:hover .image8{
    transform: scale(1.1);
    opacity: .8;
}
.images7{
    position: relative;
}
.image9{
    background-image: url("./Images/eink-00-teaser-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image9-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 130px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large; 
}
.images7:hover .image9{
    transform: scale(1.1);
    opacity: .8;
}
.images8{
    position: relative;
}
.image10{
    background-image: url("./Images/qt-00-teaser-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image10-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 130px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large; 
}
.images8:hover .image10{
    transform: scale(1.1);
    opacity: .8;
}
.images9{
    position: relative;
}
.image11{
    background-image: url("./Images/lego-01-stage-hd.jpg");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image11-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 130px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large; 
}
.images9:hover .image11{
    transform: scale(1.1);
}
.images10{
    position: relative;
}
.image12{
    background-image: url("./Images/touch-adaption-stage-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.images12-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 130px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large; 
}
.images10:hover .image12{
    transform: scale(1.1);
    opacity: .8;
}
.image11{
    position: relative;
}
.image13{
    background-image: url("./Images/m-stage-full-witdh_picture.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.images13-text{
    position: absolute;
    width: 100%;
    top:50%;
    padding: 200px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large; 
}
.image11:hover .image13{
    transform: scale(1.1);
}
.images12{
    position: relative;
}
.image14{
    background-image: url("./Images/vnkx-00-teaser-hd.webp");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image14-text{
    position: absolute;
    width: 100%;
    top:45%;
    padding: 200px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images12:hover .image14{
    transform: scale(1.1);
    opacity: .8;
}
.images13{
    position: relative;
}
.image15{
    background-image: url("./Images/Chr23-01-media-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image15-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images13:hover .image15{
    transform: scale(1.1);
    opacity: .8;
}
.images14{
    position: relative;
}
.image16{
    background-image: url("./Images/rally-01-stage-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image16-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images14:hover .image16{
    transform: scale(1.1);
    opacity: .8;
}
.images15{
    position: relative;
}
.image17{
    background-image: url("./Images/phyg-00-teaser-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image17-text{
    position: absolute;
    width: 100%;
    top:20%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images15:hover .image17{
    transform: scale(1.1);
    opacity: .8;
}
.images16{
    position: relative;
}
.image18{
    background-image: url("./Images/sup-00-teaser-hd.webp");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image18-text{
    position: absolute;
    width: 100%;
    top:50%;
    padding: 150px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images16:hover .image18{
    transform: scale(1.1);
}
.images17{
    position: relative;
}
.image19{
    background-image: url("./Images/nfl-stage-01b.jpg");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image19-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images17:hover .image19{
    transform: scale(1.1);
    opacity: .8;
}
.images18{
    position: relative;
}
.image20{
    background-image: url("./Images/i5-01-stage-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image20-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images18:hover .image20{
    transform: scale(1.1);
    opacity: .8;
}
.images19{
    position: relative;
}
.image21{
    background-image: url("./Images/hk-00-teaser-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image21-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images19:hover .image21{
    transform: scale(1.1);
    opacity: .8;
}
.images20{
    position: relative;
}
.image22{
    background-image: url("./Images/hw23-00-stage-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image22-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images20:hover .image22{
    transform: scale(1.1);
    opacity: .8;
}
.images21{
    position: relative;
}
.image23{
    background-image: url("./Images/neue-klasse-hub-01-stage-hd-02.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image23-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images21:hover .image23{
    transform: scale(1.1);
    opacity: .8;
}
.images22{
    position: relative;
}
.image24{
    background-image: url("./Images/nk-mag-00-teaser-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image24-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images22:hover .image24{
    transform: scale(1.1);
    opacity: .8;
}
.images23{
    position: relative;
}
.image25{
    background-image: url("./Images/neue-klasse-prime-00-teaser-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image25-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images23:hover .image25{
    transform: scale(1.1);
    opacity: .8;
}
.images24{
    position: relative;
}
.image26{
    background-image: url("./Images/ff2-00-teaser-hd.webp");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image26-text{
    position: absolute;
    width: 100%;
    top:50%;
    padding: 200px 0px 0px 20px;
    color:black;
    opacity: 1;
    font-size:large;
}
.images24:hover .image26{
    transform: scale(1.1);
    opacity: .8;
    overflow: hidden;
}
.images25{
    position: relative;
}
.image27{
    background-image: url("./Images/em-00-teaser-high.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image27-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images25:hover .image27{
    transform: scale(1.1);
    opacity: .8;
    overflow: hidden;
}
.images26{
    position: relative;
}
.image28{
    background-image: url("./Images/wss-00-teaser-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image28-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images26:hover .image28{
    transform: scale(1.1);
    opacity: .8;
    overflow: hidden;
}
.images27{
    position: relative;
}
.image29{
    background-image: url("./Images/audiopodcast-00-teaser-hd.webp");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transition: transform 5s, filter 3s;
}
.image29-text{
    position: absolute;
    width: 100%;
    top:25%;
    padding: 100px 0px 0px 20px;
    color:white;
    opacity: 1;
    font-size:large;
}
.images27:hover .image29{
    transform: scale(1.1);
    opacity: .8;
    overflow: hidden;
}
@media (max-width:993px){
    .bottom-nav-text h6{
        display: none;
    }
}
@media(max-width:900px){
    .banner-text{
        font-size: medium;
    }
}
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.33%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.33%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(10%);
}